# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt


/.sourcemaps
/.versions
/coverage

# Ionic
/.ionic
/www
/platforms
/plugins

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-project
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*


# Miscellaneous
/.angular
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# Environment files (Security: Never commit secrets!)
.env
.env.local
.env.*.local
src/environments/environment.*.ts
!src/environments/environment.ts
!src/environments/environment.prod.ts

# Android Studio inspection reports exported at the Android project root
+/android/.descriptions.xml
/android/.xml
/android/AccessStaticViaInstance.xml
/android/AndroidLintAndroidGradlePluginVersion.xml
/android/AndroidLintApplySharedPref.xml
/android/AndroidLintDiscouragedApi.xml
/android/AndroidLintGradleDependency.xml
/android/AndroidLintGradleDynamicVersion.xml
/android/AndroidLintIconDipSize.xml
/android/AndroidLintIconDuplicatesConfig.xml
/android/AndroidLintIconLocation.xml
/android/AndroidLintJcenterRepositoryObsolete.xml
/android/AndroidLintManifestOrder.xml
/android/AndroidLintMonochromeLauncherIcon.xml
/android/AndroidLintObsoleteSdkInt.xml
/android/AndroidLintOverdraw.xml
/android/AndroidLintRestrictedApi.xml
/android/AndroidLintTypographyDashes.xml
/android/AndroidLintUnusedResources.xml
/android/AndroidUnresolvableTag.xml
/android/AutoCloseableResource.xml
/android/BooleanMethodIsAlwaysInverted.xml
/android/CanBeFinal.xml
/android/CatchMayIgnoreException.xml
/android/CharsetObjectCanBeUsed.xml
/android/ClassCanBeRecord.xml
/android/ClassEscapesItsScope.xml
/android/CodeBlock2Expr.xml
/android/ConfigurationAvoidance.xml
/android/ConstantValue.xml
/android/Convert2Diamond.xml
/android/Convert2Lambda.xml
/android/DataFlowIssue.xml
/android/DefaultAnnotationParam.xml
/android/DeprecatedIsStillUsed.xml
/android/Deprecation.xml
/android/EmptyMethod.xml
/android/EnhancedSwitchMigration.xml
/android/FieldCanBeLocal.xml
/android/FieldMayBeFinal.xml
/android/GrDeprecatedAPIUsage.xml
/android/HtmlUnknownTag.xml
/android/IfCanBeSwitch.xml
/android/IgnoreResultOfCall.xml
/android/InnerClassMayBeStatic.xml
/android/Java8MapApi.xml
/android/JavadocBlankLines.xml
/android/JavadocDeclaration.xml
/android/JavadocLinkAsPlainText.xml
/android/NonFinalFieldInEnum.xml
/android/NonStrictComparisonCanBeEquality.xml
/android/NullableProblems.xml
/android/PackageName.xml
/android/PatternVariableCanBeUsed.xml
/android/RawUseOfParameterizedType.xml
/android/RedundantMethodOverride.xml
/android/RedundantSuppression.xml
/android/RedundantThrows.xml
/android/ReplaceNullCheck.xml
/android/SameParameterValue.xml
/android/SameReturnValue.xml
/android/SizeReplaceableByIsEmpty.xml
/android/SpellCheckingInspection.xml
/android/StringConcatenationInsideStringBufferAppend.xml
/android/StringEqualsEmptyString.xml
/android/StringOperationCanBeSimplified.xml
/android/SystemGetProperty.xml
/android/ThrowablePrintStackTrace.xml
/android/ToArrayCallWithZeroLengthArrayArgument.xml
/android/TrivialIf.xml
/android/UNCHECKED_WARNING.xml
/android/UNUSED_IMPORT.xml
/android/UnnecessaryBoxing.xml
/android/UnnecessaryLocalVariable.xml
/android/UnnecessaryModuleDependencyInspection.xml
/android/UnnecessaryReturn.xml
/android/UnnecessaryToStringCall.xml
/android/UnusedAssignment.xml
/android/UnusedLabel.xml
/android/UnusedReturnValue.xml
/android/WrapperTypeMayBePrimitive.xml
/android/XmlHighlighting.xml
/android/XmlUnusedNamespaceDeclaration.xml
/android/unused.xml
