<ion-header [class.header-collapse]="isCollapsed" class="header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="toggleMenu()" class="menu-button">
        <ion-icon name="menu-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

    <div class="header-content" [class.collapsed]="isCollapsed">
      <ion-title class="title">
        <span class="title-text">{{ title | translate }}</span>
      </ion-title>

      <div class="header-actions">
        <!-- All action buttons removed -->
      </div>
    </div>
  </ion-toolbar>

  <div class="header-gradient"></div>
</ion-header>
