<ion-app [class.no-tabs]="!(isLoggedIn$ | async)">
  <!-- Global Loader Overlay -->
  @if (isGlobalLoading$ | async) {
  <div class="custom-loader-overlay" aria-live="polite" aria-busy="true">
    <div
      class="custom-loader"
      role="alertdialog"
      aria-modal="true"
      [attr.aria-label]="'COMMON.LOADING' | translate"
    >
      <div class="logo-spinner-container">
        <img src="assets/icon/icon.png" alt="App Logo" class="loader-logo" />
        <div class="spinner-ring"></div>
      </div>
      <!-- Optional message from LoadingService -->
      @if (message$ | async; as msg) {
      <div class="loader-message mt-2">
        {{ msg }}
      </div>
      }
      <span class="visually-hidden">{{ "COMMON.LOADING" | translate }}</span>
    </div>
  </div>
  }
  <!-- Side Menu -->
  <app-side-menu></app-side-menu>

  <div class="ion-page" id="main-content">
    <!-- Main Content -->
    <ion-router-outlet></ion-router-outlet>

    <!-- Tabs Bar (only when logged in) -->
    @if (isLoggedIn$ | async) {
    <app-tabs-bar></app-tabs-bar>
    }
  </div>
</ion-app>
