<div
  class="months-scroll-container"
  #monthsContainer
  (scroll)="onScroll()"
  (pointerdown)="onPointerDown()"
  (pointerup)="onPointerUp()"
  (pointercancel)="onPointerUp()"
  (wheel)="onUserWheel()"
>
  <div
    *ngFor="let month of months"
    class="month-item"
    [class.selected]="isSelected(month)"
    (click)="selectMonth(month)"
    (keydown)="onKeydown($event, month)"
    tabindex="0"
    [attr.aria-label]="getAriaLabel(month)"
  >
    <div class="month-name">
      {{ getDate(month) | date : "MMM" : undefined : locale }}
    </div>
    <div class="year">
      {{ getDate(month) | date : "yyyy" : undefined : locale }}
    </div>
  </div>
</div>
