<div
  *ngIf="visible && data"
  class="tooltip-container"
  [class.tooltip-visible]="visible"
  [class.tooltip-hidden]="!visible"
  [style.top]="top"
  [style.inset-inline-start]="inlineOffset"
  role="tooltip"
  [attr.aria-hidden]="!visible"
>
  <div class="tooltip-item">
    <span
      *ngIf="data.color"
      class="tooltip-color-swatch"
      [style.backgroundColor]="data.color"
    ></span>
    <span class="tooltip-label">{{ data.label }}:</span>
    <span class="tooltip-value">{{ data.value | number : '1.0-2' }}</span>
  </div>
</div>
