<div class="color-selector-container">
  <button
    type="button"
    class="color-palette"
    (click)="colorInput.click()"
    [attr.aria-label]="'CATEGORY.CUSTOM_COLOR' | translate"
  >
    <ion-icon name="color-palette-outline"></ion-icon>
  </button>
  <input
    #colorInput
    class="color-input"
    type="color"
    (change)="selectColors($event)"
  />
  @for (color of colors; track trackByColor($index, color)) {
  <button
    type="button"
    class="color-button"
    [class.selected]="selectedColor === color.colorCode"
    [style.background-color]="color.colorCode"
    [title]="color.name"
    [attr.aria-label]="color.name"
    [attr.aria-pressed]="selectedColor === color.colorCode"
    tabindex="0"
    (click)="selectColor(color)"
  ></button>
  }
</div>
