// ===================================================================
//  CUSTOM SCROLLBAR
// ===================================================================

::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

// Target Ionic content scroll container shadow part
ion-content::part(scroll) {
  &::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }
}

// Hide scrollbar for standard Firefox/IE
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
