#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.animated-tab-button.router-link-active {
  color: var(--ion-color-primary);
  transform: scale(1.1);
}

.animated-tab-button {
  transition: transform 0.3s ease, color 0.3s ease;
}

.animated-tab-button:hover {
  transform: scale(1.1);
}

.animated-tab-button ion-icon {
  transition: transform 0.3s ease;
}

.animated-tab-button:hover ion-icon {
  transform: scale(1.1);
}
