@if (vm$ | async; as vm) {
<!-- Navigation is owned by the persistent outlet in LayoutComponent. -->
@if (vm.isLoggedIn) {
<!-- The actual tab bar -->
<ion-tab-bar slot="bottom">
  @for (tab of tabs; track tab) { @if (tab.visible) {
  <ion-tab-button
    (click)="navigateTab(tab.routerLink, $event)"
    [class.tab-selected]="isActiveTab(tab.routerLink, vm.activeRoute)"
    [attr.aria-current]="
      isActiveTab(tab.routerLink, vm.activeRoute) ? 'page' : null
    "
    [attr.aria-label]="tab.label ?? '' | translate"
  >
    <span class="tab-content">
      <ion-icon [name]="tab.icon"></ion-icon>
    </span>
  </ion-tab-button>
  } }
</ion-tab-bar>
} }
